@import url("./reset.css");
@import url("./variable.css");
.card{
    width: 80%;
    margin: 3rem 0 ;
    border-radius:var(--space-two); ;
    background-color: var(--color-white);
}
.card__information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   gap: clamp(
  var(--space-three),
  1rem + 0.8vw,
  var(--space-four)
);
    padding: var(--space-four);
}
.card__content{
    display: flex;
    flex-direction: column;
    gap: var(--space-three);
}
.card__label{
    font-size: clamp(
  var(--txt-sm),
  0.7rem + 0.25vw,
  var(--txt-md)
);
    color: var(--color-grey);
    letter-spacing: var(--letter-one);
     text-transform: uppercase;
      align-self: flex-start;
}
.card__title{
    font-family: 'Fraunces';
    font-size: clamp(
  1.5rem,
  1.1rem + 1vw,
  var(--txt-xlg)
);
    line-height: 100%;
    font-weight: 900;
}
.card__text{
    color: var(--color-grey);
    line-height: var(--line-lg);
    font-size: clamp(
  var(--txt-md),
  0.75rem + 0.35vw,
  var(--txt-lg)
);  ;
}
.card__pricing{
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    gap: clamp(
  var(--space-one),
  0.75rem + 0.6vw,
  var(--space-two)
);
}
.card__price{
    color: var(--color-green-500);
  font-size: clamp(
  1.8rem,
  1.8rem + 0.8vw,
  2rem
);
    font-family: 'Fraunces';
    font-weight: 700;
}
.card__old-price{
    font-size: clamp(
  var(--txt-sm),
  0.7rem + 0.25vw,
  var(--txt-md)
);
  color: var(--color-grey);
}
