@import url("./reset.css");
@import url("./variable.css");
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    height: 100%;
    border-radius:  var(--space-two) var(--space-two) 0 0 ;
}

@media (min-width: 48em){
.card{
    display: flex;
    flex-direction: row;
    max-width: 600px;
    width: 100%;
}
.card__picture{
width: 50%;
}
.card__information{
width: 50%;
}
img{
    height: 100%;
    border-radius:  var(--space-two) 0 0 var(--space-two) ;
}
}
